*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* DARK MODE CSS HTML */
html {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    align-items: center;
    justify-content: center;

    /* background img in html behind body background */

    background-image: url(./disconnected.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    --bg: rgb(206, 206, 214);
    --bg-nav:  transparent;
    --icon: black;
    --bg-hover: rgba(15, 24, 78, 0.911);
    
}


html[data-theme='dark'] {
    --bg: #2c2c2c;
    --overlay: black;
    --bg-nav: transparent;
    --icon: whitesmoke;
    --check: rgb(105, 10, 10);
    --bg-hover: rgba(236, 231, 231, 0.918);
}

    
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--bg)
    }

    
/* ////////////////////////////////////////////////////////// */
/* /////////////////////// NAVBAR ////////////////////////// */

.creativity {
    color: whitesmoke;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50px;
    margin: auto;
    z-index: 10;
}

nav {
    width: 100px;
    height: 200px;
    margin: auto;
    padding: 20px;
    background: var(--bg-nav);
    position: absolute;
    top: 20px;
    left: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    z-index: 10;
    visibility: ;
}
.btn {
    padding: 30px;
    width: 20px;
    height: 20px;
}

.btn:hover {
    filter: drop-shadow(0px 0px 2px var(--bg-hover))
}
.clock-btn {
    
}
.darkmode-btn {
    padding-left: 65px;
}

i {
    font-size: 30px;
    color: var(--icon);
}




input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--check);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* ============== BACKGROUND overlay grid ====== */
.container {
    position: absolute;
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15fr 30fr 10fr 5fr;
    grid-template-rows: 10fr 35fr 25fr;
    grid-gap: 3vh;
    }
    
    .img {
        background-image: url(./acecards.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    }
    
    .no-img {
    background-color: transparent;

    }



.overlay {
    position: absolute;
    z-index: 5;
    background: var(--overlay);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    
}


/*  CLOCK */
.clockFrame {
    position: absolute;
    display: flex;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 50px;
    left: 20px;
    visibility: hidden;
    
}

.clockFrame:before {
    content: '';
    position: absolute;
    display: flex;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: inherit;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.clock {
    z-index: 20;
    width: 295px;
    min-width: 100px;
    height: 295px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.418));
    
}

.clock:before {
    content: '';
    position: relative;
    border-radius: 50%;
    z-index: 20;
    box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
    filter: blur(10px);
}

.clock .hour,
.clock .minute,
.clock .second {
    position: absolute;
}

.clock .hour, .h {
    width: 120px;
    height: 120px;
}

.clock .minute, .min {
    width: 180px;
    height: 180px;
}

.clock .second, .sec {
    width: 220px;
    height: 220px;
}

.h, .min, .sec {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}
.h:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 60px;
    background: rgb(226, 223, 35);
    border-radius: 6px 6px 0 0;
    z-index: 30;
}


.min:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 90px;
    background: rgb(79, 223, 22);
    border-radius: 3px 3px 0 0;
    z-index: 29;
}

.sec:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 130px;
    background: rgb(221, 159, 236);
    border-radius: 1px 1px 0 0;
    z-index: 28;
}




/* ===================== SVG LOGO / PATH for animation ===============*/
#logo {
    
    animation: logoFill 0.5s ease forwards 2s;
}

#logo path:nth-child(1){
    stroke-dasharray: 354.5px;
    stroke-dashoffset: 353.08px;
    animation: logo-path 1.5s ease forwards 0.2s;
}

#logo path:nth-child(2){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: logo-path 1.5s ease forwards 0.4s;
}

#logo path:nth-child(3){
    stroke-dasharray: 470px;
    stroke-dashoffset: 470px;
    animation: logo-path 1.5s ease forwards 0.6s;
}

#logo path:nth-child(4){
    stroke-dasharray: 246px;
    stroke-dashoffset: 246px;
    animation: logo-path 1.5s ease forwards 0.8s;
}

#logo path:nth-child(5){
    stroke-dasharray: 184px;
    stroke-dashoffset: 184px;
    animation: logo-path 1.5s ease forwards 1s;
}

#logo path:nth-child(6){
    stroke-dasharray: 76px;
    stroke-dashoffset: 76px;
    animation: logo-path 1.5s ease forwards 1.2s;
}

#logo path:nth-child(7){
    stroke-dasharray: 388px;
    stroke-dashoffset: 388px;
    animation: logo-path 1.5s ease forwards 1.3s;
}

#logo path:nth-child(8){
    stroke-dasharray: 264px;
    stroke-dashoffset: 264px;
    animation: logo-path 1.5s ease forwards 1.5s;
}

#logo path:nth-child(9){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: logo-path 1.5s ease forwards 1.8s;
}

#logo path:nth-child(10){
    stroke-dasharray: 315px;
    stroke-dashoffset: 315px;
    animation: logo-path 1.5s ease forwards 1.3s;
}

#logo path:nth-child(11){
    stroke-dasharray: 264px;
    stroke-dashoffset: 264px;
    animation: logo-path 1.5s ease forwards 1s;
}

#logo path:nth-child(12){
    stroke-dasharray: 354px;
    stroke-dashoffset: 354px;
    animation: logo-path 1.5s ease forwards 0.8s;
}

#logo path:nth-child(13){
    stroke-dasharray: 264px;
    stroke-dashoffset: 264px;
    animation: logo-path 1.5s ease forwards 0.6s;
}

#logo path:nth-child(14){
    stroke-dasharray: 315px;
    stroke-dashoffset: 315px;
    animation: logo-path 1.5s ease forwards 0.4s;
}

#logo path:nth-child(15){
    stroke-dasharray: 184px;
    stroke-dashoffset: 184px;
    animation: logo-path 1.5s ease forwards 0.2s;
}

@keyframes logo-path {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes logoFill {

    from {
        fill: transparent;
    }
    to {
        fill: white;
        
    }
    
}

/* =============== end of SVG logo ===================*/