*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

/* ============== BACKGROUND ====== */
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15fr 50fr 10fr 5fr;
    grid-template-rows: 10fr 35fr 25fr;
    grid-gap: 0.5vh;
    }
    
    .img {
        background-image: url(./acecards.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    }
    
    .no-img {
    background-color: transparent;

    }



.overlay {
    position: absolute;
    z-index: 5;
    background: radial-gradient(ellipse at bottom, rgba(22, 21, 21, 0.767), rgb(5, 2, 26));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    
}


.clockFrame {
    position: absolute;
    display: flex;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 50px;
    left: 20px;
    
}

.clockFrame:before {
    content: '';
    position: absolute;
    display: flex;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: inherit;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.clock {
    z-index: 20;
    width: 295px;
    min-width: 100px;
    height: 295px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.418));
    
}

.clock:before {
    content: '';
    position: relative;
    border-radius: 50%;
    z-index: 20;
    box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
    filter: blur(10px);
}

.clock .hour,
.clock .minute,
.clock .second {
    position: absolute;
}

.clock .hour, .h {
    width: 120px;
    height: 120px;
}

.clock .minute, .min {
    width: 180px;
    height: 180px;
}

.clock .second, .sec {
    width: 220px;
    height: 220px;
}

.h, .min, .sec {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}
.h:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 60px;
    background: rgb(226, 223, 35);
    border-radius: 6px 6px 0 0;
    z-index: 30;
}


.min:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 90px;
    background: rgb(79, 223, 22);
    border-radius: 3px 3px 0 0;
    z-index: 29;
}

.sec:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 130px;
    background: rgb(221, 159, 236);
    border-radius: 1px 1px 0 0;
    z-index: 28;
}