*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    filter: drop-shadow(0px 0px 40px #c0c0c071);
}


.clockFrame {
    position: absolute;
    display: flex;
    background-color: rgb(27, 61, 77);
    width: 500px;
    height: 320px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
#clock {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 1;
    border: 1px solid rgb(145, 245, 245);
    border-radius: 50%;
    
}


.clock {
    z-index: 2;
    width: 295px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(230, 189, 238);
    border-radius: 50%;
    box-shadow: 0 -20px 20px rgba(31, 28, 28, 0.336), inset 0 -10px 10px rgba(233, 227, 227, 0.267), 0 15px 15px rgba(31, 28, 28, 0.37), inset 0 10px 10px rgba(31, 28, 28, 0.37);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(185, 239, 243);
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.418));
    border-radius: 50%;
    z-index: 10;
}

.clock .hour,
.clock .minute,
.clock .second {
    position: absolute;
}

.clock .hour, .h {
    width: 180px;
    height: 180px;
}

.clock .minute, .min {
    width: 200px;
    height: 200px;
}

.clock .second, .sec {
    width: 220px;
    height: 220px;
}

.h, .min, .sec {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}
.h:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 90px;
    background: rgb(98, 224, 224);
    border-radius: 6px 6px 0 0;
    z-index: 6;
}


.sec:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100px;
    background: rgb(118, 214, 219);
    border-radius: 3px 3px 0 0;
    z-index: 4;
}

.min:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 130px;
    background: rgb(169, 220, 223);
    border-radius: 1px 1px 0 0;
    z-index: 2;
}